httpx==0.28.1
pwntools>=4.13.1
asyncpg==0.31.0
uvloop==0.21.0
pyjwt==2.10.1
dirhash==0.5.0
python-multipart==0.0.22
sqlalchemy[asyncio]==2.0.46
sqlmodel==0.0.31
redis>=6
fastapi-pagination
fastapi[all]
uvicorn[standard]
orjson
